<div class="panel panel-primary">
  @if (message()) {
  <div class="toast-notification success" animate.enter="enter-animation">
    <span>{{ message() }}</span>
  </div>
  }
  <div class="panel-heading">
    {{ tituloListado() }}
  </div>
  @if (libros().length == 0) {
  <div>
    <h4>No hay libros</h4>
  </div>
  }
  @if (libros().length > 0) {
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Titulo</th>
          <th>Fecha de publicacion</th>
          <th>Ventas</th>
          <th>Autor</th>
        </tr>
      </thead>
      <tbody>
        @for (libro of libros(); track libro.id) {
        <tr>
          <td>{{ libro.titulo }}</td>
          <td>{{ libro.fechaP }}</td>
          <td>{{ libro.ventas }}</td>
          <td>{{ libro.autor.nombre }}</td>
          <td><button class="btn btn-success" [routerLink]="['/libro-edit', libro.id]">Editar</button></td>
          <td><button class=" btn btn-danger" (click)="eliminarLibro(libro.id)">Eliminar</button></td>
        </tr>
        }
      </tbody>
    </table>
  </div>
  }
</div>
