<h3 class="fill-remaining-space">Nuevo libro</h3>
<div class="container">
  <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm.value)">
    <div class="form-group">
      <label for="titulo">Título:</label>
      <input class="form-control" formControlName="titulo" id="titulo" />
    </div>
    <div class="form-group">
      <label for="fechaP">Fecha de publicación:</label>
      <input type="date" class="form-control" formControlName="fechaP" id="fechaP" />
    </div>
    <div class="form-group">
      <label for="ventas">Ventas:</label>
      <input type="number" class="form-control" formControlName="ventas" id="ventas" />
    </div>
    <div class="form-group">
      <label for="autor_id">Autor:</label>
      <select formControlName="autor_id" id="autor_id">
        <option [value]="null" selected>Elegir un autor</option>
        @for (autor of autores(); track autor.id) {
          <option [value]="autor.id">{{ autor.nombre + ' ' + autor.apellidos }}</option>
        }
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
  </form>
</div>
@if (errorMessage()) {
  <div class="alert alert-danger">
    {{ errorMessage() }}
  </div>
}
